{% extends "layout.html.twig" %}

{% block content %}
    <p class="times lh-copy measure f4 mt0">
        Toujours enthousiaste d’apprendre de nouvelles choses.
    </p>
    <p class="times lh-copy measure f4 mt0">
        Software engineer @<a class="link dim blue" href="https://www.smarthalo.bike" title="Smarthalo">Smarthalo</a>
    </p>

    <p class="times lh-copy measure f4 mt0">
        <a class="link dim blue" href="https://medium.com/@adrien.petitjean84" title="My posts">Mes articles</a>
    </p>
{% endblock %}
