{% extends "layout.html.twig" %}

{% block content %}
    <p class="times lh-copy measure f4 mt0">
        Web artisan
    </p>
    <p class="times lh-copy measure f4 mt0">
        Tech Addict
    </p>
    <p class="times lh-copy measure f4 mt0">
        Agile Fan
    </p>
    <p class="times lh-copy measure f4 mt0">
        Software engineer @<a class="link dim blue" href="https://www.shutterstock.com" title="Shutterstock">Shutterstock</a> Montréal office
    </p>
{% endblock %}
