{% extends "layout.html.twig" %}

{% block content %}
    <p class="times lh-copy measure f4 mt0">
        I am always enthusiastic about life and about learning new stuff.
    </p>
    <p class="times lh-copy measure f4 mt0">
        Software engineer @<a class="link dim blue" href="https://www.smarthalo.bike" title="Smarthalo">Smarthalo</a>
    </p>

    <p class="times lh-copy measure f4 mt0">
        <a class="link dim blue" href="https://medium.com/@adrien.petitjean84" title="My posts">My posts</a>
    </p>

{% endblock %}
